<!doctype html>
<html class="no-js " lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">

    <link href="~/lib/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/css/main.css" rel="stylesheet" />
    <link href="~/lib/css/authentication.css" rel="stylesheet" />
    <link href="~/lib/css/color_skins.css" rel="stylesheet" />
</head>

<body class="theme-orange">
    <div class="authentication">
        <div class="card">
            <div class="body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header slideDown">
                            <div class="m-t-10"><img src="https://cdn.discordapp.com/attachments/1181799474897616911/1232928204570759230/wZC0ejV.jpg?ex=662b3d5e&is=6629ebde&hm=f61331668d968c3a69546421245c1502e473ed96e681b003a384b4220d282413&" width="100" height="100" alt="Nexa"></div>
                            <h1>Restaurante El Dragón</h1>

                        </div>
                    </div>

                    <div style="align-content:center; margin-left: 6%">
                        @RenderBody()
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/bundles/libscripts.bundle.js"></script>
    <script src="~/lib/bundles/vendorscripts.bundle.js"></script>
    <script src="~/lib/bundles/mainscripts.bundle.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="~/js/consultanombreapi.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
</body>
</html>