<!doctype html>
<html class="no-js " lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">

    <link href="~/lib/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/css/main.css" rel="stylesheet" />
    <link href="~/lib/css/authentication.css" rel="stylesheet" />
    <link href="~/lib/css/color_skins.css" rel="stylesheet" />
</head>

<body class="theme-orange">
    <div class="authentication">
        <div class="card">
            <div class="body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header slideDown">
                            <div class="m-t-10"></div>
                            <h1>Restaurante</h1>

                        </div>
                    </div>

                    <div style="align-content:center; margin-left: 10%">
                        @RenderBody()
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/bundles/libscripts.bundle.js"></script>
    <script src="~/lib/bundles/vendorscripts.bundle.js"></script>
    <script src="~/lib/bundles/mainscripts.bundle.js"></script>
</body>
</html>