
@{
    Layout = "~/Views/Shared/_Layout_Externo.cshtml";
}

    <div class="authentication">
        <div class="card">
            <div class="body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header slideDown">
                
                            <h1>Restaurante</h1>
                        </div>
                    </div>
                    <form class="col-lg-12" id="sign_in" method="POST">
                        <h5 class="title">Ingrese los datos</h5>
                        <br />
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" class="form-control">
                                <label class="form-label">Correo</label>
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="password" class="form-control">
                                <label class="form-label">Contraseña</label>
                            </div>
                        </div>
                    </form>
                    <div class="col-lg-12">

                    
                    <a href="@Url.Action("IniciarSesion", "Home")" class="btn btn-raised btn-default waves-effect" style="margin-left:20px">Iniciar Sesion</a>

                     <a href="@Url.Action("Registrarse", "Home")" class="btn btn-raised btn-default waves-effect" style="margin-left:20px">Registrarse</a>

                    </div>


                    <div class="col-lg-12 m-t-20">
                        <a class="" href="forgot-password.html">Olvidaste tu contraseña?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

