@model Progra_Avanzada_W.Entidades.Usuario
@{
    Layout = "~/Views/Shared/_Layout_Externo.cshtml";
}
    
<body class="theme-orange">
    <div class="authentication">
        <div class="card">
            <div class="body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header slideDown">
                            <h1>Restaurante</h1>
                        </div>
                    </div>
             
                    <form class="col-lg-12" id="sign_in" method="POST">
                        <h5 class="title">Registrar un nuevo usuario</h5>
                        <br />
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="text" class="form-control">
                                @Html.TextBoxFor(mbox => m.Correo, new { @class = "form-control", @placeholder = "Correo", @type = "Textbox" })
                                <label class="form-label">Nombre</label>
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="email" class="form-control">
                                <label class="form-label">Correo</label>
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="password" class="form-control">
                                <label class="form-label">Contraseña</label>
                            </div>
                        </div>
                    </form>
                    <div class="col-lg-12">

                        <a href="@Url.Action("IniciarSesion", "Home")" class="btn btn-raised btn-default waves-effect" style="margin-left:20px">Iniciar Sesion</a>

                        <a href="@Url.Action("RegistrarUsuario", "Home")" class="btn btn-raised btn-default waves-effect" style="margin-left:20px">Registrarse</a>

                    </div>


                    <div class="col-lg-12 m-t-20">
                        <a href="sign-in.html">Ya tienes una cuenta?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a </a>

</body>
